* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  line-height: 150%;
}

body {
  background-color: white;
}

/* NAV */

.home__img {
  width: 18rem;
}

.home__mobile {
  display: none;
  width: 2rem;
}
.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  position: fixed;
  transition: 0.2s ease-in-out;
  background-color: white;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  color: #006cd1;
  background-size: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  padding-left: 20px;
  z-index: 99;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #006cd1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  font-weight: 700;
  height: 100%;
  transition: all 0.3s ease;
  font-family: "PT Sans", sans-serif;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  background-color: #006cd1;
  outline: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #000000;
  transition: all 0.3s ease;
}

.button:hover,
.services__button:hover {
  transform: scale(1.1);
  color: black;
  transition: all 0.3s ease;
}

#footer {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px 20px 0px;
  background: linear-gradient(180deg, #002a51 0%, #00182e 90.84%);
}
.footer__address {
  font-weight: 300;
  padding-left: 20%;
  max-width: 40%;
  color: white;
  list-style: none;
  text-align: left;
}

.footer__text {
  padding-left: 30px;
  width: 50%;
  color: white;
  text-align: justify;
}

#privacy__policy,
#terms__conditions {
  color: #006cd1;
}

@media screen and (max-width: 960px) {
  .home__img {
    display: none;
  }
  .home__mobile {
    display: block;
    width: 2rem;
  }

  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    padding-top: 50px;
    flex-direction: column;
    gap: 70px;
    top: 100%;
    width: 60%;
    height: 100vh;
    position: absolute;
    right: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
  }

  .navbar__menu.active {
    background: rgba(255, 255, 255);
    right: 0%;
    height: 100vh;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
    padding-bottom: 30%;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    border-radius: 30px;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: black;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    font-weight: 500;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60px;
    margin: 0;
  }

  .button:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__text {
    width: 90%;
    margin-bottom: 100px;
  }
  .footer__address {
    padding: 0;
    max-width: 80%;
    width: 90%;
  }
}
