/* CONTACT */

.contact__section {
  text-align: center;
  margin: 0 auto;
  max-width: 90%;
  gap: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact__header {
  font-weight: 900;
  color: #006cd1;
  font-size: 2.5rem;
}

.email,
.phone {
  font-weight: 700;
  font-size: 1.5rem;
  color: #006cd1;
}

.email__address,
.phone__number,
.contact__description {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
}

/* ANIMATIONS */

.fade {
  animation: fadeIn 1s;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(+20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
